.calendar-card {
  width: 30rem;
  color: #fff;
  background-color: #12121291;
}

::ng-deep .mat-calendar {
  color: white;
}

::ng-deep .mat-calendar .mat-calendar-header {
  color: white;
}

::ng-deep .mat-calendar .mat-calendar-header .mat-calendar-period-button {
  color: white;
}

::ng-deep .mat-calendar .mat-calendar-table-header th {
  color: rgb(255, 255, 255);
}

::ng-deep .mat-calendar .mat-calendar-body-cell-content {
  color: white;
}

::ng-deep .mat-calendar .mat-calendar-body-selected {
  background-color: #22438a !important;
}

::ng-deep .mat-calendar .mat-calendar-body-today {
  border-color: #ffffff;
}

::ng-deep mat-form-field {
  border-radius: 4px;
}

::ng-deep mat-form-field .mat-timepicker-input {
  color: rgb(196, 196, 196) !important;
}

::ng-deep mat-form-field mat-label {
  background: transparent;
  padding: 4px 8px;
  color: rgb(196, 196, 196);
}

