<div class="menu">
	<button mat-button class="menu-button" (click)="navigateTo('home')">Inicio</button>
	
	<button mat-button class="menu-button" [matMenuTriggerFor]="clientsMenu">Clientes</button>
	
	<button mat-button class="menu-button" [matMenuTriggerFor]="scheduleMenu">Agendamentos</button>
  </div>
  
  <mat-menu #clientsMenu="matMenu">
	<button mat-menu-item (click)="navigateTo('clients/new-client')">Cadastro</button>
	<button mat-menu-item (click)="navigateTo('clients/list')">Listagem</button>
  </mat-menu>
  
  <mat-menu #scheduleMenu="matMenu">
	<button mat-menu-item (click)="navigateTo('schedules/month')">Calendário</button>
  </mat-menu>
